body{
    background-color: #e7e7e7;
    margin: 50px;
}


.container {
display: grid;
height: 100vh;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: auto;
grid-template-areas: 
"navigationbar navigationbar navigationbar navigationbar "
"heading1 heading1 heading1 heading1"
"text1 text1 text1 text1"
"pic1 pic2 pic3 pic4"
"pic5 pic6 pic7 pic8"
"text2 text2 text2 text2"
"footer footer footer footer";
grid-gap:0.5rem

} 
.navigationbar {
    grid-area: navigationbar;
    background-color: #6D8764;
    color: #e7e7e7;

}
.navigationbar ul {
    list-style-type: none;
    text-align: center;
    padding: 10px;
}
.navigationbar li {
    display: inline-block;
    border: 2px solid #e7e7e7;
    padding: 5px 20px;
    color: #e7e7e7;
    width: 5%;
    text-align: center;
    font-size: 18px;
}

.navigationbar :hover {
    background-color: #6D8764;
    color: white;
  }
.heading1 {
    grid-area: heading1;
    background-color: #e7e7e7;
    background-image: url(images/kakatisi.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    font-size: 50px;
    
}

.text1 h2 {
    text-align: center;

}
.text1 {
    grid-area: text1;
    background-color: #6D8764;
    font-size: 28px;
}

.text1 .h2 {
    text-align: center center;
}



.image-resize {
   width: 100%;
   height: auto;
    object-position: center center;
}

.pic1 {
    grid-area: pic1;
    width: 100%;
    padding-top: 10px;
    background-color: #6D8764;
    border: 2px solid #050000;
    text-align: center;
    border-radius: 15px;

}
.pic2 {
    grid-area: pic2;
    width: 100%;
    padding-top: 10px;
    background-color: #6D8764;
    border: 2px solid #050000;
    text-align: center;
    border-radius: 15px;
}
.pic3 {
    grid-area: pic3;
    width: 100%;
    padding-top: 10px;
    background-color: #6D8764;
    border: 2px solid #050000;
    text-align: center;
    border-radius: 15px;
}
.pic4 {
    grid-area: pic4;
    width: 100%;
    padding-top: 10px;
    background-color: #6D8764;
    border: 2px solid #050000;
    text-align: center;
    border-radius: 15px;
}
.pic5 {
    grid-area: pic5;
    width: 100%;
    padding-top: 10px;
    background-color: #6D8764;
    border: 2px solid #050000;
    text-align: center;
    border-radius: 15px;
}
.pic6 {
    grid-area: pic6;
    width: 100%;
    padding-top: 10px;
    background-color: #6D8764;
    border: 2px solid #050000;
    text-align: center;
    border-radius: 15px;
}
.pic7 {
    grid-area: pic7;
    width: 100%;
    padding-top: 10px;
    background-color: #6D8764;
    border: 2px solid #050000;
    text-align: center;
    border-radius: 15px;
}
.pic8 {
    grid-area: pic8;
    width: 100%;
    padding-top: 10px;
    background-color: #6D8764;
    border: 2px solid #050000;
    text-align: center;
    border-radius: 15px;

}

.picturename {
    grid-area: picturename;
    padding: 20px;
    background-color: #6D8764;
    text-align: justify;
    color: #e7e7e7;
    font-size: x-large;
    border-radius: 15px;
}

.picturename .h3{
    font-size: 28px;
    margin-bottom: 8px;
}

.picturename .btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: aliceblue;
    text-decoration: none;
    border-radius: 4px;
    color: #6D8764;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-top: 30px;
}


.text2 {
    grid-area: text2;
    background-color: #6d8764;
}

.hello{
    position: absolute;
    height: auto;
    left: 0px;
    width: 90px;
    padding-left: 50px;
}


.button {
    background-color: #a2a2a2;
}

.footer {
    grid-area: footer;
    background-color: #a2a2a2;
}